<h1>Dead Show Notes </h1>
<div class="card-panel hoverable">
    <p class="center-align"><i class="fa fa-bolt" aria-hidden="true"><i class="fa fa-bolt" aria-hidden="true"></i></i>Browse Listings of All
    Grateful Dead Concerts and Add Notes About Your Favorites <i class="fa fa-bolt" aria-hidden="true"><i
            class="fa fa-bolt" aria-hidden="true"></i></i>
</p>
    </div>
<table class="highlight centered bordered">
    <tr>
        <th> Show Date</th>
        <th> Venue</th>
        <th> Notes</th>
    </tr>
    {{#each doc}}

        <td>

            {{this.date}}
        </td>

        <td>
            {{this.venue}}
        </td>

        <td>
                <form action="/submit/{{this.id}}" method="post">
                    <input type="hidden" type="text" name="showId" value={{this.id}}>
                    <input type="text" name="noteAuthor" placeholder="Name">
                    <input type="text" name="showNote" placeholder="Comments">
                    <button id="submitNote" type="submit">Submit Comment</button>

        </td>
        <td>
            <button id="viewComments" type="submit">View Comments</button>
            <div id="noteDisplay">
                <span id="{{this.id}}"> </span>
                <!-- <div class="Note"> -->
                <!-- <p class="noteAuthor">Name goes here <span class="deleteButton">X</span></p> -->
                <!-- <p class="noteText">Text of comment goes here</p> -->
                <!-- <p class="noteTime">Time of the comment.</p> -->
            </div>
        </td>


        </tr>

    {{/each}}

</table>

<ul class="pagination">
    <li class="waves-effect"><i class="material-icons">chevron_left</i></li>

    <li class="waves-effect"><a href="/1965">1965</a></li>
    <li class="waves-effect"><a href="/1966">1966</a></li>
    <li class="waves-effect"><a href="/1967">1967</a></li>
    <li class="waves-effect"><a href="/1968">1968</a></li>
    <li class="waves-effect"><a href="/1969">1969</a></li>
    <li class="waves-effect"><a href="/1970">1970</a></li>
    <li class="waves-effect"><a href="/1971">1971</a></li>
    <li class="waves-effect"><a href="/1972">1972</a></li>
    <li class="waves-effect"><a href="/1973">1973</a></li>
    <li class="waves-effect"><a href="/1974">1974</a></li>
    <li class="waves-effect"><a href="/1975">1975</a></li>
    <li class="waves-effect"><a href="/1976">1976</a></li>
    <li class="waves-effect"><a href="/1977">1977</a></li>
    <li class="waves-effect"><a href="/1978">1978</a></li>
    <li class="waves-effect"><a href="/1979">1979</a></li>
    <li class="waves-effect"><a href="/1980">1980</a></li>
    <li class="waves-effect"><a href="/1981">1981</a></li>
    <li class="waves-effect"><a href="/1982">1982</a></li>
    <li class="waves-effect"><a href="/1983">1983</a></li>
    <li class="waves-effect"><a href="/1984">1984</a></li>
    <li class="waves-effect"><a href="/1985">1985</a></li>
    <li class="waves-effect"><a href="/1986">1986</a></li>
    <li class="waves-effect"><a href="/1987">1987</a></li>
    <li class="waves-effect"><a href="/1988">1988</a></li>
    <li class="waves-effect"><a href="/1989">1989</a></li>
    <li class="waves-effect"><a href="/1990">1990</a></li>
    <li class="waves-effect"><a href="/1991">1991</a></li>
    <li class="waves-effect"><a href="/1992">1992</a></li>
    <li class="waves-effect"><a href="/1993">1993</a></li>
    <li class="waves-effect"><a href="/1994">1994</a></li>
    <li class="waves-effect"><a href="/1995">1995</a></li>
    <li class="waves-effect"><i class="material-icons">chevron_right</i></li>
</ul>
